/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* 
main color: #0e327a
second color: #0a0f28
tetx-color: #ffffff

*/
* {
  padding: 0;
  margin: 0;
}
html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1;
  background-color: #0e327a;
}
/* REUSABLE  */
.containter {
  max-width: 90rem;
  margin: 0 auto;
  padding: 3.2rem 0;
}
.grid {
  display: grid;
  gap: 4.8rem;

  justify-content: center;
  align-items: center;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
/* *************************************/
/* HEADER */
/* *************************************/
.main-header {
  padding: 3.2rem 4.8rem;
  margin-top: 4.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  color: #ffff;
  background-color: #0a0f28;
}
.nav {
  padding-right: 2rem;
}
.btn {
  padding: 0.8rem 1.8rem;
  font-size: 0.9rem;
  color: #0e327a;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;

  transition: all 0.4s ease-in;
}
.btn:hover {
  background-color: #eee;
}
ul li {
  display: inline-block;
  margin-right: 2.4rem;
  text-decoration: none;
  color: #fff;
}
ul li:last-child {
  margin: 0;
}
ul li a:link,
ul li a:visited {
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
}
.icon {
  margin-left: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}
#filled {
  color: #0e327a;
}
/* *************************************/
/* SECTION ONE*/
/* *************************************/
.section-one {
  padding: 4.8rem 4.8rem;
  background-color: #0a0f28;
}
.one {
  margin: 0 3rem;
  position: relative;
}
.text-box {
  align-items: center;
}
h1 {
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 2.4rem;
}
.p-one {
  font-size: 1.2rem;
  color: #fff;
  line-height: 1.5;
  margin-bottom: 2.4rem;
}
.img-link {
  display: block;
  margin-top: 1.2rem;
  font-size: 1.2rem;
  color: #094cd1;
  text-decoration: none;
}
.dots {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 32px);

  display: flex;
  gap: 1.2rem;
  margin-bottom: 2.4rem;
}

.dot {
  height: 0.8rem;
  width: 0.8rem;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
/* *************************************/
/* SECTION TWO*/
/* *************************************/
.section-two {
  padding: 4.8rem 4.8rem;
  background-color: #1469ff;
  position: relative;
  text-align: center;
}

blockquote {
  font-size: 2.4rem;
  line-height: 1.5;
  padding: 0 9.6rem;
  text-align: center;
  color: #fff;
  margin-bottom: 3.2rem;
}
.auther {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  margin-bottom: 4.8rem;
}
.aouthe-photo {
  height: 4.8rem;
  width: 4.8rem;
}
span {
  line-height: 1.8;
  color: #fff;
}
.title {
  color: #bbb;
}
.btnn {
  background-color: inherit;
  font-size: 1.2rem;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;

  display: flex;
  justify-items: center;
  align-items: center;

  transition: all 1s;
}
.btnn:hover {
  background-color: #094cd1;
}
.btnn-icon:hover {
  /* background-color: red; */
}

.btnn-icon {
  color: #fff;
  width: 3rem;
  height: 3rem;
}

.btnn--left {
  left: 10%;
}
.btn--right {
  right: 10%;
}
/* *************************************/
/* SECTION feTURE*/
/* *************************************/
.section-feature {
  padding: 4.8rem 4.8rem;
  background-color: #0a0f28;
}

.feature-text {
  text-transform: uppercase;
  margin-bottom: 6rem;
  font-size: 1.2rem;
  color: #eee;
}
h3 {
  font-size: 4.8rem;
  color: #fff;
  line-height: 1;
  margin-bottom: 4.8rem;
}
.feature-box {
  text-align: center;
  padding: 0 6.4rem;
}

.feaure-img {
  width: 100%;
  margin-bottom: 4.8rem;
}
/* *************************************/
/* SECTION three*/
/* *************************************/
.section-three {
  padding: 4.8rem 4.8rem;
  background-color: #fff;
  color: #333;
}
.row {
  padding: 0 6.4rem;
}
.section-header {
  text-align: center;
}
.priary-header,
.for-header {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
}
.secondary-header {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
}
/* .middle {
  background-color: #f8f9fc;
} */
.one-img {
  width: 100%;
}
h4,
.for-h4 {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
.one-paragraph,
.for-paragraph {
  font-size: 1.5rem;
  line-height: 1.4;
  margin-bottom: 1rem;
  color: #333;
  font-weight: 500;
}
.lists {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.list {
  color: #333;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.icon {
  border: 2px solid #cbd6f7;
  border-radius: 50%;
  font-weight: 700;
  height: 1.2rem;
  width: 1.2rem;
  color: #cbd6f7;
}
/* *************************************/
/* SECTION for*/
/* *************************************/
.section-for {
  padding: 4.8rem 4.8rem;
  background-color: #1469ff;
}
.for {
  padding: 0 6.4rem;
  text-align: center;
}
.for-header {
  margin-bottom: 1.2rem;
  color: #fff;
}
.for-paragraph {
  font-size: 1.3rem;
  color: #fff;
}
.for-h4 {
  color: #fff;
  margin-bottom: 1.2rem;
}
.img-map {
  width: 100%;
  margin-top: 2rem;
}
